body {
    color: #333;
    font: 20px "HELVETICA","SimSun","Arial Narrow";
}

.top-nav-wrap {
    width: 100%;
    min-width: 1000px;
    z-index: 9;
    position: absolute;
    left: 0px;
    top: 0px;
}

.top-nav {
    height: 41px;
    border-top: 3px solid #ff8500;
    border-bottom: 1px solid #EDEEF0;
    background-color: #FCFCFC;
}

.tn-header {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    font: "HELVETICA","Microsoft YaHei";
}

.top-nav .tn-nav {
    float: left;
    display: inline;
}

.tn-person-r {
    float: right;
}

.tn-close {
    display: none;
    width: 54px;
    height: 21px;
    overflow: hidden;
    margin: 8px 0 0 3px;
    float: right;
    line-height: 21px;
}

.top-nav .tn-title {
    float: left;
    font-size: 12px;
    position: relative;
}

.tn-person-r .tn-title {
    float: left;
    font-size: 12px;
    position: relative;
}

.top-nav .tn-title .tn-tab {
    border: 1px solid #FCFCFC;
    border-width: 0 1px;
    color: #4c4c4c;
    display: inline-block;
    line-height: 16px;
    cursor: pointer;
    position: relative;
    z-index: 9;
    padding: 0 2px 0 0;
}

    .top-nav .tn-title .tn-tab i, .top-nav .tn-title .tn-user i {
        display: inline-block;
        height: 17px;
        padding: 12px 9px 12px 16px;
        vertical-align: bottom;
        overflow: hidden;
    }

.tn-person-r .tn-title .tn-tab {
    border: 1px solid #FCFCFC;
    border-width: 0 1px;
    color: #4c4c4c;
    display: inline-block;
    line-height: 16px;
    cursor: pointer;
    position: relative;
    z-index: 9;
    padding: 0 2px 0 0;
}
