body {
    font: 12px "微软雅黑","SimSun";
}

.login-area {
    display: none;
    position: absolute;
    width: 400px;
    height: 250px;
    border: 1px solid #FECC5B;
    margin-left: -170px;
    margin-top: -1px;
    top: 42px;
    left: 0px;
    z-index: 99;
}

    /*登录*/
    .login-area .login-list {
        width: 400px;
        height: 230px;
        margin-top: 20px;
    }

        /*左侧二维码登录区域*/
        .login-area .login-list .login-list-left {
            float: left;
            width: 140px;
            height: 230px;
            display: inline;
        }

        /*右侧账号登录区域*/
        .login-area .login-list .login-list-right {
            float: right;
            width: 250px;
            height: 230px;
            display: inline;
        }

            .login-area .login-list .login-list-right .left-content {
                height: 170px;
                padding-top: 30px;
            }

            .login-area .login-list .login-list-right .left-remind {
                height: 30px;
            }

            .login-area .login-list .login-list-right .right-content {
                height: 170px;
                padding-top: 30px;
            }

            .login-area .login-list .login-list-right .right-remind {
                height: 30px;
            }

            .login-area .login-list .login-list-right .right-content .right-content-warning {
                font-size: 12px;
                background-color: #FECC5B;
                width: 135px;
                height: 18px;
                margin-left: 3px;
                visibility: hidden;
                border: 1px solid black;
                padding: 1px;
            }

            .login-area .login-list .login-list-right .right-content a {
                font-size: 12px;
                text-decoration: none;
            }

                .login-area .login-list .login-list-right .right-content a:hover {
                    text-decoration: underline;
                }

/*关闭标签*/
#closeIcon {
    background-color: white;
    width: 18px;
    line-height: 26px;
    height: 26px;
    display: inline;
    position: absolute;
    margin: 1px 8px 1px -20px;
    cursor: pointer;
    vertical-align: central;
    text-align: center;
    visibility: hidden;
    color: blue;
    z-index: 99999;
}

#email {
    font-size: 12px;
    width: 200px;
    height: 25px;
    border: 1px solid rgb(208,208,208);
    display: inline;
}

#password {
    font-size: 12px;
    width: 200px;
    height: 25px;
    border: 1px solid rgb(208,208,208);
}

#btn_login {
    display: inline;
    color: white;
    background-color: #ff8500;
    cursor: pointer;
    border: 0px;
    height: 30px;
}

/*智能提示框*/
#auto-show {
    font-size: 12px;
    visibility: hidden;
    position: absolute;
    width: 202px;
    height: 63px;
    border: 1px double rgb(208,208,208);
    background-color: White;
    overflow: hidden;
}
