<link href="~/Style/headingBar.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<body>
    <div class="top-nav-wrap">
        <div class="top-nav">
            <div class="tn-header">
                <div class="tn-nav">
                    @*left area*@
                    <div class="tn-title">
                        <a class="tn-tab"><i>设为首页</i></a>
                    </div>
                    <div class="tn-title">
                        <a class="tn-tab"><i>手机新浪网</i></a>
                    </div>
                    <div class="tn-title">
                        <a class="tn-tab"><i>移动客户端</i></a>
                    </div>
                </div>
                <div class="tn-close">
                    @*hidden area*@

                </div>
                <div class="tn-person-r">
                    @*right area*@
                    <div class="tn-title">
                        <a class="tn-tab"><i>登录</i></a>
                    </div>
                    <div class="tn-title">
                        <a class="tn-tab"><i>微博</i></a>
                    </div>
                    <div class="tn-title">
                        <a class="tn-tab"><i>博客</i></a>
                    </div>
                    <div class="tn-title">
                        <a class="tn-tab"><i>邮箱</i></a>
                    </div>
                    <div class="tn-title">
                        <a class="tn-tab"><i>网站导航</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>